.navbar {
  width: 100%;
  height: 80px;
  background: linear-gradient(90deg, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.8));
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.links {
  margin-right: 50px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.links a {
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 20px;
}

.links a:hover {
  color: #FF7676;
  text-decoration: underline;
}

.logo {
  margin-left: 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  color: white;
  font-weight: bold;
}
